<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List By TVT</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://kit.fontawesome.com/5bbc143db8.js" crossorigin="anonymous"></script>
</head>
<body>
    <head>
        <div class="navbar">
            <div class="work">
                <a href="/work"><i class="fa-solid fa-calendar-day" style="color: #005eff;"></i> Work</a>
            </div>
            <div class="today">
                <a href="/today"><i class="fa-solid fa-briefcase" style="color: #005eff;"></i> Today</a>
            </div>
        </div>
    </head>
    <main>
        
    
